/* body section */
body, html {
  display: flex;
  flex-direction: row;
  font-family: "Open Sans";
  background: #EAEAF4;
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 75%;
}

/* ~~~~~sidebar section~~~~~~~~*/
hr {
  width: 21em;
  border-color: #353567;
  border-bottom-width: medium;
}

#sidebar {
  background: #1F1F3D;
  display: flex;
  flex-direction: column;
  width: 25%;
  color: #E9E9F3;
}

#sidebar > button {
  color: #E9E9F3;
  background: #5356A4;
  align-self: center;
  border: 0.1em solid #353567;
  width: 85%;
  height: 3.5%;
  font-family: "Open Sans";
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1em;
}

#sidebar > h1 {
  font-size: 1.3em;
  margin-left: 1em;
  margin-top: 1.3em;
}

#sidebar > h2 {
  color: #BFBFDD;
  font-size: 1em;
  margin-left: 1.3em;
  margin-bottom: 2em;
}

/* ~~~~user input section~~~~~ */
#body-input-area {
  height: 7em;
  width: 31em;
  margin: 0.5em 0 1.5em 0;
  border: 0.15em solid #5356A4;
}

.enabled-save-button {
  background: #353567;
  border: 0.15em solid #5356A4;
  color: #FFFFFF;
  cursor: pointer;
}

.disabled-save-button {
  background: #EAEAF4;
  color: #000000;
  cursor: not-allowed;
}

input {
  width: 31em;
  height: 3em;
  border: 0.15em solid #5356A4;
  margin: 0.5em 0 2em 0;
}

#input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #A9AAD2;
  padding: 1.5em;
  font-weight: bold;
}

#input-section > label {
  margin-right: 24em;
}

#save-button{
  width: 26.4em;
  height: 2.5em;
  font-family: "Open Sans";
  font-weight: bold;
  margin-bottom: 2em;
  font-size: 1em;
}

#search-area {
  display: flex;
  flex-direction: row;
  width: 26.4em;
  height: 2.85em;
  background: #1F1F3D;
  border-color: #353567;
}

#search-area > input {
  margin-top: 0;
}

#search-icon {
  height: 1.2em;
  padding: 0.9em;
}

/* ~~~~~~card section~~~~~~~~ */
#card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5em;
  padding: 1.5em;
  height: 100%;
}

.card-overflow {
  overflow: auto;
}

.card-section {
  width: 100%;
}

#comment-img {
  height: 2em;
  width: 2em;
}

#comment-part {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #5356A4;
  border: 0.15em solid #353567;
  height: 2em;
  color: #FFFFFF;
  font-weight: bold;
}

.delete-img {
  height: 2em;
  width: 2em;
  margin: 0 0.2em;
}

#favorite-delete-part {
  display: flex;
  justify-content: space-between;
  background-color: #1F1F3D;
  height: 2em;
}

#favorite-delete-part > button {
  background-color: #1F1F3D;
  border: 0 solid #1F1F3D;
  margin: 0.2em 0.2em;
}

#message-part {
  border: 0.15em solid #1F1F3D;
  padding: 0em 1em;
  height: 13em;
}

.star-img {
  height: 2em;
  width: 2em;
  margin: 0 0.2em;
}
