/* body section */
body {
  display: flex;
  flex-direction: row;
  font-family: "Open Sans";
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 80vw;
}

/* sidebar section */
hr {
  width: 23vw;
  border-color: #353567;
  border-bottom-width: medium;
}

#sidebar > button {
  color: #E9E9F3;
  background: #5356A4;
  align-self: center;
  border: 0.1em solid #353567;
  height: 2.4em;
  width: 12em;
  font-family: "Open Sans";
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 1em;
}

#sidebar > h1 {
  font-size: 1.3em;
  margin-left: 1em;
  margin-top: 1.3em;
}

#sidebar > h2 {
  color: #BFBFDD;
  font-size: 1em;
  margin-left: 1.3em;
  margin-bottom: 2em;
}

#sidebar {
  background: #1F1F3D;
  display: flex;
  flex-direction: column;
  height: 66.4em;
  width: 21em;
  color: #E9E9F3;
}

/* user input section */
#body-input-area {
  height: 8em;
}

input {
  width: 31em;
  height: 3em;
  border: 0.15em solid #5356A4;
  margin: 0.5em 0 2em 0;
}

#input-section {
  display: flex;
  flex-direction: column;
  background: #A9AAD2;
  height: 25.6em;
  padding: 1.5em 18em 0 18em;
  font-weight: bold;
}

#input-section > button {
  width: 26.4em;
  height: 2.5em;
  border: 0.15em solid #5356A4;
  font-family: "Open Sans";
  font-weight: bold;
  color: #FFFFFF;
  background-color: #353567;
  margin-bottom: 2em;
  font-size: 1em;
}

#search-area {
  display: flex;
  flex-direction: row;
  width: 26.4em;
  height: 2.85em;
  background: #1F1F3D;
  border-color: #353567;
}

#search-area > input {
  margin-top: 0;
}

#search-icon {
  height: 1.2em;
  padding: 0.9em;
}

/* card section */
#card-grid {
  background: #EAEAF4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card-section {
  margin: 1em;
  overflow: auto;
}

#comment-img {
  height: 2em;
  width: 2em;
}

#comment-part {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #5356A4;
  border: 0.15em solid #353567;
  height: 2em;
  width: 15em;
  color: #FFFFFF;
  font-weight: bold;
}

.delete-img {
  height: 2em;
  width: 2em;
}

#message-part {
  border: 0.15em solid #353567;
  padding: 0em 1em;
  height: 13em;
  width: 13em;
}

.star-img {
  height: 2em;
  width: 2em;
}

#favortie-delete-part {
  display: flex;
  justify-content: space-between;
  background-color: #1F1F3D;
  width: 15.3em;
  height: 2em;
}
